* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
	background-color: #800000;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(128, 0, 4, 0.5)), url(pupba.jpg);	
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: bordex-box;
    position: relative;
}

.navbar {
	width: 100%;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;

}

.logo {
	width: 300px;
	cursor: pointer;
	padding-top: 70px;
	margin-right: -100px;
	margin-left: -50px;

}

.name {
	width: 150px;
	cursor: pointer;
	padding-top: 50px;
	margin-right: -1500px;
}

nav {
	flex: 1;
	padding-left: 1px;
	padding-bottom: 17vh;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 0px 20px;
	padding-top: -100px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 2px  solid #800000;
	width: 200px;
	transition:  0.6s ease;
	transition: 500ms;
}

nav ul li a:hover{
	background-color: #800000;
	color: #FFD700;
}

.content h1 {
	font-size: 60px;
	font-weight: 100;
	font-style: oblique;
	margin-top: 20px;
	margin-bottom: 15px;
	color: #800000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFD700;
	text-shadow: 5px 2px #000;
	text-align: left;
	line-height: 50px;

}

.content h2 {
	font-size: 40px;
	font-weight: 100;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #FFD700;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #800000;
	text-shadow: 4px 2px #000;
}

.content h3 {
	font-size: 25px;
	font-weight: 100;
	font-style: normal;
	margin-top: 1px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #FFD700;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #800000;
	text-shadow: 2px 2px #000;
}

.content p {
	font-size: 18px;
	font-weight: 100;
	margin-top: 25px;
	margin-bottom: 15px;
	padding-left: 10px;
	color: #fff;
	text-shadow: 2px 2px #000;
}

.content {
	margin-left: 5%;
	margin-top: 15%;
}

.feature-img {
	height: 50%;
	position: absolute;
	bottom: 20vh;
	right: 70px;
}

@media screen and (max-width: 600px) {

	.container {
		height: 100vh;
		width: 175%;
		background-color: #800000;
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(128, 0, 4, 0.5)), url(pupba.jpg);	
		background-position: center;
		background-size: cover;
		padding-left: 5%;
		padding-right: 5%;
		box-sizing: bordex-box;
		position: relative;
	}

	.content h1 {
		font-size: 50px;
		font-weight: 100;
		font-style: oblique;
		margin-top: 20px;
		margin-bottom: 15px;
		color: #800000;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #FFD700;
		text-shadow: 5px 2px #000;
		text-align: left;
		line-height: 50px;
	}

	.content h2 {
		font-size: 30px;
		font-weight: 100;
		margin-top: 5px;
		margin-bottom: 5px;
		color: #FFD700;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #800000;
		text-shadow: 4px 2px #000;
	}
	
	.content h3 {
		font-size: 20px;
		font-weight: 100;
		font-style: normal;
		margin-top: 1px;
		margin-bottom: 5px;
		margin-left: 5px;
		color: #FFD700;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #800000;
		text-shadow: 2px 2px #000;
	}
	
	.content p {
		font-size: 10px;
		font-weight: 100;
		margin-top: 25px;
		margin-bottom: 15px;
		padding-left: 10px;
		color: #fff;
		text-shadow: 2px 2px #000;
	}
	
	.navbar {
		width: 100%;
		height: 50px;
		margin: auto;
		display: flex;
		align-items: center;
		top: auto;
		bottom: auto;
		justify-content: space-between;
		padding: 0 10px;
		box-sizing: border-box;
		padding-top: 100px;
	}

	nav ul li {
		display: inline-block;
		list-style: none;
		margin: 10px 0px;
		padding-top: 5px;
		margin-left: 30px;
	}
	
	nav ul li a {
		text-decoration: none;
		color: #fff;
		padding: 5px 10px;
		border: 2px  solid #800000;
		width: 10px;
		transition:  0.6s ease;
		transition: 500ms;
		margin-right: auto;
	}
	
	nav ul li a:hover{
		background-color: #800000;
		color: #FFD700;
	}

	.name {
		width: 150px;
		cursor: pointer;
		padding-top: 30px;
		margin-right: -230px;
	}
	
	.logo {
		width: 250px;
		cursor: pointer;
		padding-top: 10px;
		margin-right: -100px;
	}
	
	.feature-img {
		height: 40vh;
		position: absolute;
		bottom: 5vh;
		right: 5vh;
	}
}

/*------- about ------*/

.about {
	width: 100%;
	margin: auto;
	text-align:center;
	padding-top: 50px;
	padding-bottom: 200px;
}

.search input[type=text] {
    width: 300px;
    height: 25px;
    border-radius: 25px;
    border: 2px solid #800000;
	padding-left: 1vh;	
	
}
 
.search {
    float: left;
    margin: 7px;
	padding-top: -1000px;
}
 
.search button {
    background-color: #800000;
    color: #D4AF37	;
    float: left;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: 4px solid #D4AF37;
    cursor: pointer;
	height: 15px;
	width: 50px;
}

.about h1{
	font-size: 36px;
	font-weight: 600;
	font-style: oblique;
	color: #800000;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFD700;
	text-shadow: 2px 2px #000;
}

.about p {
	color: #000;
	font-size: 14px;
	font-weight: 200;
	line-height: 35px;
	padding: 20px;
	font-style: normal;
	font-weight: 300;
}

@media screen and (max-width: 600px) {

.about {
		width: 175%;
		margin: auto;
		text-align:center;
		padding-top: 50px;
		padding-bottom: 200px;
		padding-left: 20px;
		background-color:#D4AF37;
	}

.about h1{
		font-size: 36px;
		font-weight: 600;
		font-style: oblique;
		color: #800000;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #FFD700;
		text-shadow: 2px 2px #000;
	}

.about p {
	color: #000;
	font-size: 14px;
	font-weight: 200;
	line-height: 35px;
	padding: 20px;
	font-style: normal;
	font-weight: 300;
}

}

/* -------- mission ------*/

.mission {
	width: 100%;
	margin: auto;
	text-align:center;
	padding-top: 10px;
	padding-bottom: 20px;
}

.mission h1{
	font-size: 36px;
	font-weight: bold;
	color: #800000;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFD700;
	font-style: italic;
	text-shadow: 2px 2px #000;
}

.mission h2{
	font-size: 30px;
	font-weight: bold;
	color: #800000;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFD700;
	font-style: italic;
	text-shadow: 2px 2px #000;
}

.mission h3{
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	font-style: italic;
	padding-top: 20px;
}

.mission p {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 5px;
	font-style: oblique;
}

.row {
	margin-top: 5%;
	display: flex;
	justify-content: space-evenly;
}

.mis-col {
	flex-basis: 35%;
	background: #800000;
	border-radius: 15px;
	margin-bottom: 0%;
	padding: 100px 52px;
	box-sizing: border-box;
	transition: 0.5s;
	border: 20px 0px solid;
	border-style: solid;
	border-color: #FFD700;
}

@media screen and (max-width: 600px) { 
	.mission {
		width: 100%;
		margin: auto;
		text-align:center;
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.row {
		max-width: fit-content;
		width: auto;
		margin-top: 10%;
		display: flex;
		justify-content: space-evenly;
	}
	
	.mis-col {
		flex-basis: 15%;
		background: #800000;
		border-radius: 20px;
		margin-bottom: 0%;
		padding: 50px 50px;
		box-sizing: border-box;
		transition: 0.5s;
		border: 20px 0px solid;
		border-style: solid;
		border-color: #FFD700;
		margin-left: 50vh;
		margin-right: -5vh;
	}

	.mission h1{
			font-size: 56px;
			font-weight: bold;
			color: #800000;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #FFD700;
			font-style: italic;
			text-shadow: 2px 2px #000;
		}
		
		.mission h2{
			font-size: 40px;
			font-weight: bold;
			color: #800000;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #FFD700;
			font-style: italic;
			text-shadow: 2px 2px #000;
		}
		
		.mission h3{
			font-size: 23px;
			font-weight: bold;
			color: #fff;
			font-style: italic;
			padding-top: 20px;
		}
		
		.mission p {
			color: #fff;
			font-size: 15px;
			font-weight: 300;
			line-height: 25px;
			padding: 5px;
			font-style: oblique;
		}
}


/*-------- hymn ---------*/
.hymn {
	width: 100%;
	margin: auto;
	text-align:center;
	padding-top: 40px;
	padding-bottom: 20px;
}

.hymn h1{
	font-size: 36px;
	font-weight: bold;
	color: #800000;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFD700;
	font-style: italic;
	text-shadow: 2px 2px #000;
	padding-bottom: 50px;
}

.video-col {
	flex-basis: 25%;
	background: #800000;
	border-radius: 15px;
	margin-bottom: 10%;
	padding: 100px 52px;
	box-sizing: border-box;
	transition: 0.5s;
	border: 20px 0px solid;
	border-style: solid;
	border-color: #FFD700;
}

.roww {
	margin-top: 0%;
	display: flex;
	justify-content: space-evenly;
}

@media screen and (max-width: 600px) { 

	.hymn {
		width: 100%;
		margin: auto;
		text-align:center;
		padding-top: 40px;
		padding-bottom: 20px;
	}
	
	.hymn h1{
		font-size: 36px;
		font-weight: bold;
		color: #800000;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #FFD700;
		font-style: italic;
		text-shadow: 2px 2px #000;
		padding-bottom: 50px;
	}
	
	.video-col {
		flex-basis: 25%;
		background: #800000;
		border-radius: 15px;
		margin-bottom: 10%;
		padding: 80px 52px;
		box-sizing: border-box;
		transition: 0.5s;
		border: 20px 0px solid;
		border-style: solid;
		border-color: #FFD700;
		margin-left: 55vh;
	}
	
	.roww {
		margin-top: 0%;
		display: flex;
		justify-content: space-evenly;
	}
	
}

/*------- course ------*/

.course {
	width: 80%;
	margin: auto;
	text-align:center;
	padding-top: 80px;
	padding-bottom: 50px;
}

.course h2{
	font-size: 36px;
	font-weight: bold;
	color: #800000;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFD700;
	font-style: italic;
	text-shadow: 2px 2px #000;
	margin-bottom: 50px;
}

.course h3{
	font-size: 20px;
	font-weight: 600;
	font-style: italic;
	text-shadow: 2px 2px #000;
}

.course p {
	color: #000;
	font-size: 15px;
	font-weight: 300;
	line-height: 35px;
	padding: 5px;
	font-style: oblique;
}

.rows {
	margin-top: 2%;
	display: flex;
	justify-content: space-between;
}

.course-col {
	flex-basis: 100%;
	background: #800000;
	border-radius: 15px;
	margin-bottom: 0%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
	border: 20px 0px solid;
	border-style: solid;
	border-color: #FFD700;
}

.course h3 {
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
	color: #FFD700;
}

.course p.para {
	color: #FFD700;
}


.course-col:hover {
	box-shadow: 0 0 20px 0px (128,0,0,0.2);
}

.course nav {
	flex: 1;
	padding-left: 50px;
}

.course nav ul li {
	display: inline-block;
	list-style: none;
	margin: 0px 20px;
	padding-top: 10px;
}

.course nav ul li a {
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	border: 2px  solid #800000;
	width: 300px;
	transition: 0.6s ease;
}

.course nav ul li a:hover{
	background-color: #800000;
	color: #FFD700;
}

@media screen and (max-width: 600px) {  
	
	.course {
		width: 150%;
		margin: auto;
		text-align: center;
		padding-top: 80px;
		padding-bottom: 50px;
		padding-left: 200px;
	}
	
	.course h2{
		font-size: 36px;
		font-weight: bold;
		color: #800000;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #FFD700;
		font-style: italic;
		text-shadow: 2px 2px #000;
		margin-bottom: 50px;
		text-align: center;
	}
	
	.course h3{
		font-size: 20px;
		font-weight: 600;
		font-style: italic;
		text-shadow: 2px 2px #000;
		margin-left: 50vh;
	}
	
	.course p {
		color: #000;
		font-size: 15px;
		font-weight: 300;
		line-height: 35px;
		padding: 5px;
		font-style: oblique;
		text-align: center;

	}
	
	.rows {
		margin-top: 2%;
		display: flex;
		justify-content: space-between;
		
	}
	
	.course-col {
		flex-basis: 1000%;
		background: #800000;
		border-radius: 20px;
		margin-bottom: 0%;
		padding: 20px 12px;
		box-sizing: border-box;
		transition: 0.5s;
		border: 20px 0px solid;
		border-color: #FFD700;
	}
	
	.course h3 {
		text-align: center;
		font-weight: 600;
		margin: 10px 0;
		color: #FFD700;
	}
	
	.course p.para {
		color: #FFD700;
	}
	
	
	.course-col:hover {
		box-shadow: 0 0 20px 0px (128,0,0,0.2);
	}
	
	.course nav {
		flex: 1;
		padding-left: 50px;
	}
	
	.course nav ul li {
		display: inline-block;
		list-style: none;
		margin: 0px 20px;
		padding-top: 10px;
	}
	
	.course nav ul li a {
		text-decoration: none;
		color: #fff;
		padding: 10px 20px;
		border: 2px  solid #800000;
		width: 300px;
		transition: 0.6s ease;
	}
	
	.course nav ul li a:hover{
		background-color: #800000;
		color: #FFD700;
	}
}

/*------ gallery ------*/

div.map {
	margin-left: 500px;
	float: center;
	width: 400px;
	transition: 500ms;
  }

div.map:hover {
	filter: grayscale(0.1);
	transform: scale(1.1);
  }
  
div.map img {
	display: block;
	width: 200%;
	height: auto;
	border: 2px solid #FFD700;
	border-radius: 15px;
	box-shadow: 4px 7px 7px 0px #800000;
	cursor: pointer;
	margin-left: 50px;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
  }
  
.gallerys h1 {
	font-size: 50px;
	font-weight: 100;
	font-style: oblique;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #800000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFD700;
	text-shadow: 5px 2px #000;
	text-align: center;
}

div.gallery {
    margin: 50px;
	padding-left: 80px;
	float: left;
	width: 350px;
	transition: 500ms;
	padding-bottom: -15vh;
  }
  
  div.gallery:hover {
	filter: grayscale(0.1);
	transform: scale(1.3);
  }
  
  div.gallery img {
	  width: 350px;
	  height: 250px;
	  border: 2px solid #FFD700;
	  border-radius: 15px;
	  box-shadow: 4px 7px 7px 0px #800000;
	  cursor: pointer;
	  margin: 5px;
  }
  
  div.desc {
	padding-left: 75px;
	text-align: center;
  }

  p.normal {
	  font-weight: bold;
	  font-size: 20px;
	  padding-left: 10px;
  }
  
.navs {
	  flex: 1;
	  padding-left: 500px;
  }
  
.navs ul li {
	  display: inline-block;
	  list-style: none;
	  margin: 0px 20px;
	  padding-top: 15vh;
	  padding-right: 70vh;
	  padding-bottom: 5vh;
	  transition: top 0.6 ease;
  }
  
.navs ul li a {
	  text-decoration: none;
	  color: #fff;
	  border: 2px  solid #800000;
	  width: 500px;
  } 

  nav ul li a:hover{
	background-color: #800000;
	color: #FFD700;
}

@media screen and (max-width: 600px) { 

	.gallerys {
		padding-bottom: 5vh;
	}
	.gallerys h1 {
		font-size: 50px;
		font-weight: 100;
		font-style: oblique;
		margin-top: 20px;
		margin-bottom: 5px;
		color: #800000;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #FFD700;
		text-shadow: 5px 2px #000;
		text-align: center;
		margin-left: 52vh;
	}

	div.map {
		margin-left: 100px;
		float: center;
		width: 400px;
		transition: 500ms;
	  }
	
	div.map:hover {
		filter: grayscale(0.1);
		transform: scale(1.1);
	  }
	  
	div.map img {
		display: block;
		width: 200%;
		height: auto;
		border: 2px solid #FFD700;
		border-radius: 15px;
		box-shadow: 4px 7px 7px 0px #800000;
		cursor: pointer;
		margin-left: 50px;
		margin-right: auto;
		margin-top: 50px;
		margin-bottom: -50px;
	  }


	div.gallery {
		padding-left: 90px;
		float: center;
		width: 200px;
		transition: 500ms;
		padding-right: 50px;
		margin-bottom: 50px;

	  }
	  
	  div.gallery:hover {
		filter: grayscale(0.1);
		transform: scale(1.3);
	  }
	  
	  div.gallery img {
		  width: 500px;
		  height: 350px;
		  border: 2px solid #FFD700;
		  border-radius: 15px;
		  box-shadow: 4px 7px 7px 0px #800000;
		  cursor: pointer;
		  margin: 150px;	  
	  }
	  
	  div.desc {
		text-align: center;
		padding-top: -1000vh;
	  }
	
	  p.normal {
		  font-weight: bold;
		  font-size: 20px;
		  text-align: center;
		  padding-left: 20vh;
		  padding-top: -500vh;
	  }
	  
	.navs {
		  flex: 1;
		  padding-left: 1vh;
}
	  
	.navs ul li {
		  display: inline-block;
		  list-style: none;
		  margin: 0px 20px;
		  padding-top: 15vh;
		  padding-right: 25vh;
		  padding-bottom: 5vh;
		  transition: top 0.6 ease;
	  }
	  
	.navs ul li a {
		  text-decoration: none;
		  color: #fff;
		  border: 2px  solid #800000;
		  width: 500px;
	  } 
	
	  nav ul li a:hover{
		background-color: #800000;
		color: #FFD700;
	}	
}

/*------- help ------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.containers {
  max-width: 1170px;
  margin: auto;
}

.rowss {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer {
	background-color: #800000;
	padding: 70px 0;
}

.footer-col {
	width: 20%;
	padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	font-weight: 600;
	font-style: oblique;
	color: #800000;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-weight: 500;
	background-color: #D4AF37;
	border: solid;
	border-color: #fff;
	text-align: center;
}

.footer-col h4::before {
	content:'';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #D4AF37;
	height: 3px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	color: #fff;
	display: block;
	transition: all 0.3s ease;
	padding-left: 10px;
}

.footer-col ul li a:hover {
	color: #fff;
	padding-left: 10px;
}

.social-links img{
	max-width: 20%;
	height: auto;
	padding-left: 15px;
	text-align: center;
}

.contact {
   padding-top: 65px;
   text-align: center;
   color: #fff;
   transition: all 0.3s ease;
}

@media screen and (max-width: 600px) { 
	
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	
	.containers {
	  max-width: 800px;
	  width: auto;
	  margin: auto;
	}
	
	.rowss {
		display: flex;
		flex-wrap: wrap;
	}
	
	ul {
		list-style: none;
	}
	
	.footer {
		background-color: #800000;
		width: 117vh;
		padding: 100px 0;
	}
	
	.footer-col {
		width: 50%;
		padding: 15px 15px;
	}
	
	.footer-col h4{
		font-size: 18px;
		font-weight: 600;
		font-style: oblique;
		color: #800000;
		text-transform: capitalize;
		margin-bottom: 20px;
		font-weight: 500;
		background-color: #D4AF37;
		border: solid;
		border-color: #fff;
		text-align: center;
	}
	
	.footer-col h4::before {
		content:'';
		position: absolute;
		left: 0;
		bottom: -10px;
		background-color: #D4AF37;
		height: 3px;
		box-sizing: border-box;
		width: 500px;
	}
	
	.footer-col ul li:not(:last-child) {
		margin-bottom: 10px;
	}
	
	.footer-col ul li a{
		font-size: 16px;
		text-transform: capitalize;
		color: #fff;
		text-decoration: none;
		font-weight: 500;
		color: #fff;
		display: block;
		transition: all 0.3s ease;
		padding-left: 10px;
	}
	
	.footer-col ul li a:hover {
		color: #fff;
		padding-left: 10px;
	}
	
	.social-links img{
		max-width: 20%;
		height: auto;
		padding-left: 15px;
		text-align: center;
	}
	
	.contact {
	   padding-top: 65px;
	   text-align: center;
	   color: #fff;
	   transition: all 0.3s ease;
	}
	
}